.users{
    padding: 1rem;
}

.center{
    display: flex;
    justify-content: center;
}

.Data{
    // background-color: red;
    margin: 1rem;
}

.Board{
    display: flex;
    margin: 3rem;
}
.onBoard{
    display: flex;
    flex-direction: column;}

    .bodyStyle{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 2rem;
        width: -webkit-fill-available;
    }


    .ListBody{
        display: flex;
        flex-direction: column;
    }

    .thisList{
        // background-color: aqua;
        margin-top: 3rem;
        // padding: 0rem 10rem ;
        display: flex;
        justify-content: space-around;
        .row{
            width: -webkit-fill-available;
            
        }
        h1{
            button {
                padding: 0.2rem 0.5rem !important;
                box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
            }
        }
 
    }